<% provide(:title, "About") %>
<h1>About</h1>
<p>
  This is a simple lending tracker for mobile devices of the Electrical Engineering
  and Computer Sciences departement of the 
  <a href="http://www.fh-stralsund.de/">Stralsund University
  of applied Sciences</a>
  . It was created as part of the course 'Web-Engineering' 
  by Tilo Zülske, Benjamin Montazer and Hannes Börs under the guidence of 
  Jöran Pieper in 2015.
</p>