<div class="center jumbotron">
  <h1>Welcome</h1>

  <% if !logged_in? %>
    <h2>
      To get an account please contact the admin at <a href="mailto:<%= Employee.find(admin = true).mail.to_s %>"><%= Employee.find(admin = true).mail.to_s %></a>
    </h2>
  
    <%= link_to "Sign in", login_path, class: "btn btn-lg btn-danger btn-block" %>
  <% else %>
    <h2>
      You are logged in. Now go and do something.
    </h2>
  <% end %>
</div>

