Your lending of <%= @lending.device.name %> expires in <%= @days %> <% if @days == 1 %>day<% else %>days<%end%>
===============================================
 
The lending of <%= @lending.device.name %> expires in <%= @days %> <% if @days == 1 %>day<% else %>days<%end%>
and has to be returned by <%= @lending.lender.name %>.
 
For more information just follow this <%= link_to 'link', @url %>.