<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your lending of <%= @lending.device.name %> expires in <%= @days %> <% if @days == 1 %>day<% else %>days<%end%>.</h1>
    <p>
      In <%= @days %> <% if @days == 1 %>day<% else %>days<%end%> the lending of <%= @lending.device.name %> expires and has to be returned by <%= @lending.lender.name %>.<br>
    </p>
    <p>
     For more information follow this <%= link_to 'link', @url %>.
    </p>
  </body>
</html>