
  <div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= form_for(@employee) do |f| %>
    
    <%= render partial: "shared/error_messages", locals: {zone: @employee} %>
    
      <form role="form">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Name</span>
            <%= f.text_field :name, :placeholder => "Username", class:"form-control"%>
          </div>
        </div>
      
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">E-Mail</span>
            <%= f.email_field :mail, :placeholder => "E-Mail", class:"form-control"%>
          </div>
        </div>
      
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Password</span>
            <%= f.password_field :password, :placeholder => "Password", type:"password", class:"form-control", id:"pwd" %>
          </div>
        </div>
      
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Confirm</span>
            <%= f.password_field :password_confirmation, :placeholder => "Password Confirmation", type:"password", class:"form-control", id:"pwd" %>
          </div>
        </div>
        
        <div class="form-group">
          <%= f.label :lab_id %><br>
          <%= select_tag "lab_id", options_for_select(@lab_options), class: 'form-control' %>
        </div>
      
        <%= f.submit "Apply", class: "btn btn-lg btn-danger btn-block" %>
      </form>
    <% end %>
  </div>
</div>
  
  
