<p id="notice"><%= notice %></p>

<h1>Listing Employees</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Mail</th>
      <th>Lab</th>
      <th colspan="3" class="center"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.name %></td>
        
        <td><%= employee.mail %></td>
        <% if employee.lab != nil %>
          <td><%= link_to employee.lab.name, employee.lab %></td>
        <% end %>
        
        <td id="rud-bar"><div class="btn-group right" role="group" aria-label="rud">
          <%= link_to 'Show', employee, class: "btn btn-sm btn-default" %>
          <%= link_to 'Edit', edit_employee_path(employee), class: "btn btn-sm btn-default" %>
          <% if current_employee.admin? && !current_employee?(employee) %>
            <%= link_to "Destroy", employee, method: :delete, data: { confirm: "You sure?" }, class: "btn btn-sm btn-danger" %>
          <% end %>
        </div></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee', new_employee_path, class: "btn btn-lg btn-danger" %>
