<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @employee.name %>
</p>

<p>
  <strong>Mail:</strong>
  <%= @employee.mail %>
</p>

<p>
  <strong>Lab:</strong>
  <%= @employee.lab.name %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee), class: "btn btn-xs btn-default"  %>
<%= link_to 'Back', employees_path, class: "btn btn-xs btn-default"  %>
