<h1>Editing Device</h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
<%= form_for(@device) do |f| %>
  <%= render partial: "shared/error_messages", locals: {zone: @device} %>
  
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Name</span>
      <%= f.text_field :name, :placeholder => "Device", class:"form-control"%>
      </div>
    </div>
  
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, class:"field span12 form-control", rows:"6", placeholder:"Enter a short synopsis"%>
  </div>
  
  
  
  <div class="row">
   <div class="col-md-12">
      <div class="actions">
        <%= f.submit "Apply", class: "btn btn-lg btn-danger btn-block" %>
      </div>
    </div>
  </div>
<% end %>
</div>
</div>


<%= link_to 'Show', @device, class: "btn btn-xs btn-default"  %>
<%= link_to 'Back', devices_path, class: "btn btn-xs btn-default"  %>
