<p id="notice"><%= notice %></p>

<h1>Listing Devices</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Lab</th>
      <th colspan="3" class="center"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></th>
    </tr>
  </thead>

  <tbody>
    <% @devices.each do |device| %>
      <tr>
        <td><%= device.name %></td>
        <td><%= device.description %></td>
        <td><%= link_to device.lab.name, device.lab %></td>
        <td id="rud-bar"><div class="btn-group right" role="group" aria-label="rud">
          <%= link_to 'Show', device, class: "btn btn-sm btn-default" %>
          <%= link_to 'Edit', edit_device_path(device), class: "btn btn-sm btn-default" %>
          <% if current_employee.admin? %>
            <%= link_to 'Destroy', device, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %>
          <% end %>
        </div></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Device', new_device_path, class: "btn btn-lg btn-danger" %>
