<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @device.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @device.description %>
</p>

<p>
  <strong>Lab:</strong>
  <%= @device.lab.name %>
</p>

<%= link_to 'Edit', edit_device_path(@device), class: "btn btn-xs btn-default"   %>
<%= link_to 'Back', devices_path, class: "btn btn-xs btn-default"   %>
