<% if zone.errors.any? %>
    <div id="error_explanation">
        <div class="alert alert-danger">
          The form contains <%= pluralize(zone.errors.count, "error") %>.
        </div>
        <ul>
        <% zone.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>