<div class="row">
  <div class="col-md-8 col-md-offset-2">
<%= form_for(@lending) do |f| %>
  <%= render partial: "shared/error_messages", locals: {zone: @lending} %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><strong> Duration</strong>
        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
      </h3>
    </div>
    
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <%= f.label "From" %>
            <%= f.text_field :start, :type =>"date" , :placeholder => "From", class:"form-control"%>
          </div>
        </div>
    
        <div class="col-sm-6">
          <div class="form-group">
            <%= f.label "To" %>
            <%= f.text_field :end, :type =>"date" , :placeholder => "To", class:"form-control"%>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><strong> Lending </strong>
        <span class="glyphicon glyphicon-share" aria-hidden="true"></span>
      </h3>
    </div>
    
    <div class="panel-body">
      <div class="row">
        
        <div class="col-sm-6">
      <div class="form-group">
        <label for="lending_device_id">Device <span class="glyphicon glyphicon-phone" aria-hidden="true"></span></label><br>
        <%= select_tag "device_id", options_for_select(@device_options), class: 'form-control' %>
      </div>
    </div>
  
  
    <div class="col-sm-6">
      <div class="form-group">
        <label for="lending_lender_id">Borrower <span class="glyphicon glyphicon-education" aria-hidden="true"></span></label><br>
        <%= select_tag "lender_id", options_for_select(@lender_options), class: 'form-control' %>
      </div>
    </div>
  
      </div>
    </div>
  </div>
  
  
    


 <div class="row">
   <div class="col-sm-12">
      <div class="actions">
        <%= f.submit "Apply", class: "btn btn-lg btn-danger btn-block" %>
      </div>
    </div>
  </div>
  
<% end %>
</div>
</div>