<p id="notice"><%= notice %></p>

<h1>Listing Lendings</h1>
  
<table class="table table-hover">
  <thead>
    <tr>
      <th>Start</th>
      <th>End</th>
      <th>Device</th>
      <th>Lab</th>
      <th>Employee</th>
      <th>Lender</th>
      <th colspan="3" class="center"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></th>
    </tr>
  </thead>

  <tbody>
    <% @lendings.each do |lending| %>
      <tr>
        <td><%= lending.start %></td>
        <td><%= lending.end %></td>
        <td><%= link_to lending.device.name, lending.device%></td>
        <td><%= link_to lending.lab.name, lending.lab %></td>
        <td><%= link_to lending.employee.name, lending.employee %></td>
        <td><%= link_to lending.lender.name, lending.lender %></td>
        <td id="rud-bar"><div class="btn-group right" role="group" aria-label="rud">
          <%= link_to 'Show', lending, class: "btn btn-sm btn-default" %>
          <%= link_to 'Edit', edit_lending_path(lending), class: "btn btn-sm btn-default" %>
          <% if (current_employee.admin?) || current_employee==lending.employee%>
            <%= link_to "Destroy", lending, method: :delete, data: { confirm: "You sure?" }, class: "btn btn-sm btn-danger" %>
          <% end %>
        </div></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if @device_options.any? %>
  <% if @lender_options.any? %>
      <%= link_to 'New Lending', new_lending_path, class: "btn btn-lg btn-danger" %>
  <% else %>
    <h4>There is no one to lend something to. To create a borrower click 
    <%= link_to 'here', new_lender_path, class: "btn btn-xs btn-default" %></h4>
  <% end %>
<% else %>
  <h4>There are no devices left. To create one click 
  <%= link_to 'here', new_device_path, class: "btn btn-xs btn-default" %></h4>
<% end %>



