<p id="notice"><%= notice %></p>

<p>
  <strong>Start:</strong>
  <%= @lending.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @lending.end %>
</p>

<p>
  <strong>Device:</strong>
  <%= @lending.device.name %>
</p>

<p>
  <strong>Lab:</strong>
  <%= @lending.lab.name %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @lending.employee.name %>
</p>

<p>
  <strong>Lender:</strong>
  <%= @lending.lender.name %>
</p>

<%= link_to 'Edit', edit_lending_path(@lending), class: "btn btn-xs btn-default"  %>
<%= link_to 'Back', lendings_path, class: "btn btn-xs btn-default"  %>
