@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$cornflower-blue: #6495ED;
$fh-red: #9c001c;

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

h2{
  a{
    &:link{
      color: $gray;
    }
    &:visited {
      color: #00FF00;
    }
    &:hover {
      color: $fh-red;
      background-color: transparent;
    }
  }
}



.btn-primary:visited { color: white; } //button
.btn-danger:visited {color: white; }

.right {
    float: right;
}

.center-vertical {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#rud-bar{
  min-width: 200px;
}

table{
  width: 2000px;
  thead{
      font-size: 1.15em;
  }
  tbody{
    tr{
      td{
        font-size: 1.1em;
        white-space: nowrap; 
        max-width: 500px;
        width: 500px;
        overflow: hidden;
        text-overflow: ellipsis;
        a {
          color: $gray;
          &:hover {
            color: $fh-red;
            background-color: transparent;
          }
        }
      }
    }
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  a {
    color: $gray;
    &:hover {
      color: $fh-red;
      background-color: transparent;
    }
  }
}


/* header */


#navbar-red{
  li{
    a{
      color: white;
      &:hover{
        color: black;
      }
      &:focus{
        background-color:white;
        color:black;
      }
    }
  }
  background-color: $fh-red;
  border-color: $fh-red;
  
}

#dropdown-red{
  background-color: $fh-red;
      a:hover{
        background-color: white;
      }
}

//= depend_on_asset "logo.png"
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
    background-color: transparent;
  }
}


.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}
/* error */
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}


.field_with_errors {
  
    padding: 0px;
    display: inline;
    
  @extend .has-error;
  .form-control {
    background: $state-danger-bg;
  }
}

/* Users index */
.employees {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}
/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
      background-color: transparent;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}