<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @lender.name %>, your lending of <%= @lending.device.name %> expires in <%= @days %> <% if @days == 1 %>day<% else %>days<%end%>, <%= @lender.name %></h1>
    <p>
      In <%= @days %> <% if @days == 1 %>day<% else %>days<%end%> you have to return <%= @lending.device.name %> to the <%= @employee.name %> in the lab <%=@employee.lab.name%><br>
    </p>
    <p>
     For more informations just follow this link: <%= @url %>.
    </p>
    <p>Tank you</p>
  </body>
</html>