<%= @lender.name %>, your lending of <%= @lending.device.name %> expires in <%= @days %> <% if @days == 1 %>day<% else %>days<%end%>.
===============================================
 
Your lending of <%= @lending.device.name %> expires in <%= @days %> <% if @days == 1 %>day<% else %>days<%end%>,
keep in mind to return it to <%=@employee.name%> the lab <%=@employee.lab.name%>.
 
For more informations just follow this link: <%= @url %>.

Thank you