<div class="row">
  <div class="col-md-8 col-md-offset-2">

<%= form_for(@lab) do |f| %>
  
  <%= render partial: "shared/error_messages", locals: {zone: @lab} %>

<form role="form">
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Name</span>
      <%= f.text_field :name, :placeholder => "Lab", class:"form-control"%>
      </div>
    </div>
  <div class="actions">
    <%= f.submit "Apply", class: "btn btn-lg btn-danger btn-block" %>
  </div>
</form>
<% end %>
</div>
</div>
