<p id="notice"><%= notice %></p>

<h1>Listing Labs</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3" class="center"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></th>
    </tr>
  </thead>

  <tbody>
    <% @labs.each do |lab| %>
      <tr>
        <td><%= lab.name %></td>
        <td id="rud-bar"><div class="btn-group right" role="group" aria-label="rud">
          <%= link_to 'Show', lab, class: "btn btn-sm btn-default" %>
          <%= link_to 'Edit', edit_lab_path(lab), class: "btn btn-sm btn-default" %>
          <% if current_employee.admin? %>
          <%= link_to "Destroy", lab, method: :delete, data: { confirm: "You sure?" }, class: "btn btn-sm btn-danger" %>
        <% end %>
        </div></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lab', new_lab_path, class: "btn btn-lg btn-danger" %>
