<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @lab.name %>
</p>

<%= link_to 'Edit', edit_lab_path(@lab), class: "btn btn-xs btn-default"   %>
<%= link_to 'Back', labs_path, class: "btn btn-xs btn-default"   %>
