<p id="notice"><%= notice %></p>

<h1>Listing Borrowers</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Mail</th>
      <th colspan="3" class="center"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></th>
    </tr>
  </thead>

  <tbody>
    <% @lenders.each do |lender| %>
      <tr>
        <td><%= lender.name %></td>
        <td><%= lender.mail %></td>
        <td id="rud-bar"><div class="btn-group right" role="group" aria-label="rud">
          <%= link_to 'Show', lender, class: "btn btn-sm btn-default" %>
          <%= link_to 'Edit', edit_lender_path(lender), class: "btn btn-sm btn-default" %>
          <%= link_to "Destroy", lender, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-danger" %>
        </div</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lender', new_lender_path, class: "btn btn-lg btn-danger" %>
