<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @lender.name %>
</p>

<p>
  <strong>E-Mail:</strong>
  <%= @lender.mail %>
</p>

<%= link_to 'Edit', edit_lender_path(@lender), class: "btn btn-xs btn-default"  %>
<%= link_to 'Back', lenders_path, class: "btn btn-xs btn-default"  %>
