<footer class="footer">
  <small>
    Devicemanagement System of the
    <a href="http://www.fh-stralsund.de/">Stralsund University of applied Sciences</a>
  </small>
  
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><a href="mailto:<%= Employee.find(admin = true).mail.to_s %>">Contact</a></li>
    </ul>
  </nav>
  <br><%= link_to image_tag("logo.png", alt: "FH-Stralsund Logo", id: "logo"), 'http://www.fh-stralsund.de/' %>
</footer>