<!--<header class="navbar navbar-fixed-top navbar-inverse">-->
<header class="navbar navbar-fixed-top navbar-inverse", id="navbar-red">
  <div class="container">
      
    
    <nav>
      
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span> 
          </button>
          <%= link_to "Device Tracker", root_path, id: "logo" %>
        </div>
        
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a href=<%=root_path%>><span class="glyphicon glyphicon-home"></span> Home</a></li>
            
            <% if logged_in? %>
            
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu", id="dropdown-red">
              <li><%= link_to "Profile", current_employee %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: "delete" %>
              </li>
            </ul>
            <% if current_employee.admin? %>
             <li><a href=<%=employees_path%>><span class="glyphicon glyphicon-user"></span> Employees</a></li>
             <li><a href=<%=labs_path%>><span class="glyphicon glyphicon-blackboard"></span> Labs</a></li>
          <% end %>
            <li><a href=<%=devices_path%>><span class="glyphicon glyphicon-phone"></span> Devices</a></li>
            <li><a href=<%=lendings_path%>><span class="glyphicon glyphicon-calendar"></span> Lendings</a></li>
            <li><a href=<%=lenders_path%>><span class="glyphicon glyphicon-education"></span> Borrowers</a></li>
          </li>
        <% else %>
          <li><a href=<%=login_path%>><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <% end %>
            
          </ul>
          <ul class="nav navbar-nav navbar-right">
          </ul>
        </div>
      </div>
      
    </nav>
    
  </div>
</header>